<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type='module'>
    import { Vue } from './index.js'
    let vm = new Vue({
      el: '#app',
      data: {
        msg: 'Hello Vue2.x',
        count: 1,
        person: {
          name: 'zs'
        }
      },
      watch: {
        x () {
          console.log('x监听')
        }
      },
      computed: {
        add () {
          console.log('计算add')
          return this.count + 1
        },
      },
      methods: {
        increase() {
          this.count++
        }
      }
    })

  </script>
</head>

<body>
  <div id="app">
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <h1>v-text</h1>
    <div v-text="msg"></div>
    <h1>v-model</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
    <button v-on:click="increase">加 1</button>
    <h1>computed: count + 1</h1>
    <h3>{{ add }}</h3>
  </div>
</body>

</html>